<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="glyphicon glyphicon-warning-sign"></span> OOPS!</h1>
        <%= error.stack %>
    </div>

</div>
</body>
</html>