<% dsource = typeof dsource !== 'string' ? "" : dsource %>

<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="col-sm-6 col-sm-offset-3">

        <h1><span class="glyphicon glyphicon-off"></span> Login</h1>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <% if (dsource.length > 0) { %>
            <form action="/auth/login?dsource=<%= dsource %>" method="post">
        <% } else { %>
                <form action="/auth/login" method="post">
        <%}%>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>

        <hr>

        <p>Need an account? <a href="/auth/signup">Signup</a></p>
        <p>Or go <a href="/">home</a>.</p>

    </div>

</div>
</body>
</html>