<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="glyphicon glyphicon-record"></span> Visit Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <p>
                    <strong>id</strong>: <%= user._id %><br>
                    <strong>email</strong>: <%= user.local.email %><br>
                    <strong>first name</strong>: <%= user.local.first_name %><br>
                    <strong>last name</strong>: <%= user.local.last_name %><br>
                    <strong>nickname</strong>: <%= user.local.nickname %><br>
                    <strong>password</strong>: <%= user.local.password %>
                </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>